<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
    <servlet>
        <description>Web Service BE_TSOSalesOrderDetailLineManagerPort</description>
        <display-name>Web Service BE_TSOSalesOrderDetailLineManagerPort</display-name>
        <servlet-name>BE_TSOSalesOrderDetailLineManagerPort</servlet-name>
        <servlet-class>be.e1.bssv.JP564208.BE_TSOSalesOrderDetailLineManager</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BE_TSOSalesOrderDetailLineManagerPort</servlet-name>
        <url-pattern>/BE_TSOSalesOrderDetailLineManagerPort</url-pattern>
    </servlet-mapping>
</web-app>
